.amatic-sc-bold {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    background-color: #1ac0c6; /* Light Blue Background */
    margin: 0;
    padding-top: 150px; /* Adjust based on nav height */
}


/* Navigation Bar */
header {
    width: 100%;
    background-color: #e74645; /* Red */
    color: white;
    padding: 15px 0;
    text-align: center;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    font-family: amatic sc, cursive;
    font-weight: 700;
    font-size: 40px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.nav .h1 {
    text-align: center;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-size: 60px;
    margin-top: 20px;
  }

